/*body{*/
/*	background-color: black;*/
/*}*/

.container {
  /*  	background-color: rgb(0, 0, 0);*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #ffffff;
  border: var(--grey-blue) solid 3px;
  padding: 2.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*	gap: 1rem;*/
}

.title {
  font-size: 2rem;
  color: var(--red);
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 1rem;
}

.input {
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  border: var(--grey-blue) solid 3px;
}

.btn-div {
  /* margin: 0.5rem; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  width: 100%;
}

.btn-form {
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border: var(--red) solid 2px;
  transition-duration: 100ms;
  transition-property: all;
  /* transition-behavior: ; */
  background-color: #ffffff;
}

.btn-form:hover {
  cursor: pointer;
}

.btn-login {
  background-color: var(--red);
  color: #ffffff;
}
.btn-login:hover {
  background-color: #ffffff;
  color: var(--red);
  border: var(--red) solid 2px;
}

.btn-register {
  border: var(--red) solid 2px;
  color: var(--red);
}
.btn-register:hover {
  /*	border: var(--red) solid 2px;*/
  color: #ffffff;
  background-color: var(--red);
}

#mySelect {
  width: 100%; /* Aderisce alla larghezza del contenitore */
  padding: 10px; /* Spazio intorno alle opzioni */
  border-radius: 5px; /* Bordi arrotondati */
  border: 2px solid #fe4e5c; /* Bordi del menu */
  background-color: transparent; /* Fondo scuro per contrasto */
  color:black; /* Testo bianco per leggibilità */
  appearance: none; /* Rimuove lo styling predefinito del browser */
  -webkit-appearance: none; /* Per Chrome, Safari e Edge */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra interna per dare profondità */
}

#mySelect option {
  padding: 10px; /* Spazio intorno al testo delle opzioni */
  background-color:#2a434a; /* Fondo scuro per le opzioni */
  color: white; /* Testo bianco per leggibilità */
}

#mySelect:focus {
  outline: none; /* Rimuove l'outline predefinito del browser */
}

#mySelect option:focus {
  background-color:var(--grey-blueish); /* Cambia colore di sfondo per l'opzione selezionata */
}

