/* .header  {
	background-color: rgb(255, 254, 200);;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	padding: 1rem 4rem;
}

.container{
	width: 100%;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap; 
    gap: 1rem;
}

 .image{
	width: 150px;
 }

img {
	width: 100%;
} */

.dettagli-section {
  margin-top: 100px;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.dettagli-section-title {
  font-size: 2rem;
  /* color: var(--red); */
  margin-bottom: 1rem;
}

.professor-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  gap: 1rem;
}

.image-container {
  overflow: hidden;
  max-width: 400px;
  border-radius: 30px;
  /* border: var(--grey-blue) solid 3px; */
}
.professor-image {
  width: 100%;
  border-radius: 30px;
}

.info-container {
  border: var(--grey-blue) solid 3px;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .professor-container {
    flex-direction: row;
  }
}
