<!DOCTYPE html>
<html>
  <head>
    <title>Announcements</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/carousell.css" />
    <link rel="stylesheet" href="/css/professors.css" />
    <link rel="stylesheet" href="/css/announcements.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header-container">
        <a href="/" class="logo">
          <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
        </a>
        <i class="bx bx-menu toggle-menu-btn" id="menu-icon"></i>
        <ul class="navbar">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/subjects">Materie</a></li>
          <li><a class="link" href="/professors">Professori</a></li>
          <li><a class="link" href="/announcements">Annunci</a></li>
          <a class="link" th:if="${userDetails}" href="/logout">
            <i class="bx bxs-log-out header-icon"></i>
          </a>
          <a class="link" th:unless="${userDetails}" href="/login">
            <i class="bx bxs-log-in header-icon"></i>
          </a>
          <a href="/profilePage">
            <li th:if="${professor}" class="profile-image">
              <img
                th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
                alt="immagine del professore"
              />
            </li>
          </a>
          <div th:if="${userDetails}">
            <a href="/profilePage">
              <li th:unless="${professor}" class="profile-image-user">
                <img
                  src="/images/userProfile.png"
                  alt="immagine del professore"
                />
              </li>
            </a>
          </div>
        </ul>
      </div>
      <ul class="navbar mobile-menu">
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/subjects">Materie</a></li>
        <li><a class="link" href="/professors">Professori</a></li>
        <li><a class="link" href="/announcements">Annunci</a></li>
        <a class="link" th:if="${userDetails}" href="/logout">
          <i class="bx bxs-log-out header-icon"></i>
        </a>
        <a class="link" th:unless="${userDetails}" href="/login">
          <i class="bx bxs-log-in header-icon"></i>
        </a>

        <a href="/profilePage">
          <li th:if="${professor}" class="profile-image">
            <img
              th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
              alt="immagine del professore"
            />
          </li>
        </a>
        <div th:if="${userDetails}">
          <a href="/profilePage">
            <li th:unless="${professor}" class="profile-image-user">
              <img
                src="/images/userProfile.png"
                alt="immagine del professore"
              />
            </li>
          </a>
        </div>
      </ul>
    </header>

    <section class="first-section">
      <h2 style="font-size: 3rem; font-weight: bold; margin-top: 1rem">
        Annunci
      </h2>
      <div th:if="${announcements==null || announcements.isEmpty()}">
        Non ci sono annunci nel sistema
      </div>
      <ul class="carousell-container" style="justify-content: center">
        <li th:each="announcement: ${announcements}">
          <a th:href="@{'/announcement' + '/' + ${announcement.id}}">
            <div
              class="carousell-widget"
              style="display: flex; flex-direction: column; gap: 1rem"
            >
              <h2
                style="font-size: 2rem"
                th:text="${announcement.subject.name }"
              ></h2>

              <span style="display: flex; align-items: center; gap: 0.3rem">
                <i class="bx bxs-location-plus"></i>
                <p th:text="'Luogo: '+${announcement.location}"></p>
              </span>
              <span style="display: flex; align-items: center; gap: 0.3rem">
                <i class="bx bx-euro"></i>
                <p th:text="'Prezzo: '+	${announcement.hourlyRate}"></p>
              </span>

              <span style="display: flex; align-items: center; gap: 0.3rem">
                <i class="bx bxs-school"></i>
                <p th:text="'livello: '+${announcement.subject.level}"></p>
              </span>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </body>
  <script src="/js/app.js"></script>
</html>
