<!DOCTYPE html>
<html>
  <head>
    <title>Announcement</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/professors.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"rel="stylesheet"/>
  </head>

  <body>
	<header>
      <div class="header-container">
        <a href="#" class="logo">
          <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>

        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="#about">Chi Siamo</a></li>
          <li><a href="/professors">Professori</a></li>
		  <li><a href="/announcements">Annunci</a></li>
			<a th:if="${userDetails}" href="/logout">		  
				<i class='bx bxs-log-out header-icon' ></i>				
			</a>
			<a th:unless="${userDetails}" href="/login">		  
            	<i class="bx bxs-log-in header-icon"></i>				
			</a>
			
        </ul>
      </div>
    </header>

<!--    <section class="first-section">-->
<!--      <h2>Professors</h2>-->
<!--      <div th:if="${professors==null || professors.isEmpty()}">-->
<!--        Non ci sono professori nel sistema-->
<!--      </div>-->
<!--      <ul class="persons-container">-->
<!--        <li th:each="professor: ${professors}">-->
<!--          <a th:href="@{'/professor' + '/' + ${professor.id}}">-->
<!--            <div class="professor-widget">-->
<!--              <div class="professor-widget-image-container">-->
<!--                <img src="/images/uomo.png" />-->
<!--              </div>-->
<!--              <div class="professor-widget-info">-->
<!--                <p th:text="${professor.name} + ' '+ ${professor.surname}"></p>-->
<!--                <p th:text="'età: '+${professor.age}"></p>-->
<!--                <p th:text="'email: '+${professor.email}"></p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </section>-->
  </body>
</html>
