<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Professor</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/authPage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/" class="logo">
          <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
        </a>
        <i class="bx bx-menu toggle-menu-btn" id="menu-icon"></i>

        <ul class="navbar">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/subjects">Materie</a></li>
          <li><a class="link" href="/professors">Professori</a></li>
          <li><a class="link" href="/announcements">Annunci</a></li>
          <a class="link" th:if="${userDetails}" href="/logout">
            <i class="bx bxs-log-out header-icon"></i>
          </a>
          <a class="link" th:unless="${userDetails}" href="/login">
            <i class="bx bxs-log-in header-icon"></i>
          </a>

          </div>
        </ul>
      </div>
      <ul class="navbar mobile-menu">
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/subjects">Materie</a></li>
        <li><a class="link" href="/professors">Professori</a></li>
        <li><a class="link" href="/announcements">Annunci</a></li>
        <a class="link" th:if="${userDetails}" href="/logout">
          <i class="bx bxs-log-out header-icon"></i>
        </a>
        <a class="link" th:unless="${userDetails}" href="/login">
          <i class="bx bxs-log-in header-icon"></i>
        </a>

        <a href="/profilePage">
          <li th:if="${currentProfessor}" class="profile-image">
            <img
              th:src="@{'data:image/jpeg;base64,'+${currentProfessor.profileImage.generateBase64Image()}}"
              alt="immagine del professore"
            />
          </li>
        </a>
        <div th:if="${userDetails}">
          <a href="/profilePage">
            <li th:unless="${professor}" class="profile-image-user">
              <img
                src="/images/userProfile.png"
                alt="immagine del professore"
              />
            </li>
          </a>
        </div>
      </ul>
    </header>

    <div class="container">
      <div class="form-container">
        <h1 class="title">Nuovo Professore</h1>
        <form
          th:action="@{/professor}"
          method="POST"
		  th:object="${professor}"
          enctype="multipart/form-data"
        >
          <div class="input-div">
            <input
              class="input input-username"
              type="text"
              placeholder="nome..."
              required
              th:field="${professor.name}"
            />
          </div>
          <div class="input-div">
            <input
              class="input input-username"
              type="text"
              placeholder="cognome..."
              required
              th:field="${professor.surname}"
            />
          </div>
          <div class="input-div">
            <input
              class="input"
              type="text"
              placeholder="email..."
              required
              th:field="${professor.email}"
            />
          </div>
         <div class="input-div">
            <input
              class="input"
              type="number"
              placeholder="età..."
              required
              th:field="${professor.age}"
            />
          </div>
          <div class="input-div">
				    <textarea name="description" class="input" placeholder="Descrizione..." th:field="${professor.description}"></textarea>
          </div>
			<label for="file-upload" class="custom-file-upload">
				Scegli File
			</label>
			<span><input name="file" type="file" id="file-upload" accept="image/png , image/jpeg" required style="display:none;" onchange="updateFileName(this)" /></span>
          <div class="btn-div">
            <button class="btn-form btn-login" type="submit">Conferma</button>
          </div>
        </form>
      </div>
    </div>
  </body>  
  <script>
	function updateFileName(input) {
	    var fileName = input.files[0].name;
	    var label = document.querySelector(".custom-file-upload");
	    label.textContent = fileName;
	}
</script>
  <script src="/js/app.js"></script>
</html>
