<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lezioni Expert</title>

    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/homePage.css" />
  </head>
  <body>
    <header class="header">
      <div><img src="/images/titoloLezioni.png" width="30%" /></div>

      <div class="div">
        <a href="/login" class="sing-in-btn">
          <span> Sing </span>

          <span> In </span>
        </a>
        <a class="sing-up-btn" href="/register">
          <span> Sing </span>
          <span> Up </span>
        </a>
      </div>
    </header>
    <a href="/professors">professors</a>
  </body>
</html>
