<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lezioni Expert</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/homePage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <!--			<img src="/images/titoloLezioni.png" alt="">-->
        <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
      </a>
      <i class="bx bx-menu" id="menu-icon"></i>
      <ul class="navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#customers">Customers</a></li>
      </ul>

      <div class="header-icon">
        <i class="bx bxs-log-in"></i>
      </div>
    </header>

    <section class="home" id="home">
      <div class="home-text">
        <h1>
          Inizia il tuo <br />cambiamento<br />
          con i nostri <br />insegnati
        </h1>
        <p>
          Scopri i migliori professori per ripetizioni personalizzate in tutte
          le materie. <br />Prenota lezioni private online o in presenza e
          migliora i tuoi risultati scolastici con l'aiuto di esperti
          qualificati.
        </p>
        <a href="#" class="btn">Contatta ora</a>
      </div>
      <div class="home-img">
        <img
          style="width: 100%; max-width: 400px"
          src="/images/test1.png"
          alt=""
        />
      </div>
    </section>
    <!--    <header class="header">-->
    <!--      <div><img src="/images/titoloLezioni.png" width="30%" /></div>-->

    <!--      <div class="div">-->
    <!--        <a href="/login" class="sing-in-btn">-->
    <!--          <span> Sing </span>-->

    <!--          <span> In </span>-->
    <!--        </a>-->
    <!--        <a class="sing-up-btn" href="/register">-->
    <!--          <span> Sing </span>-->
    <!--          <span> Up </span>-->
    <!--        </a>-->
    <!--      </div>-->
    <!--    </header>-->
    <!--    <a href="/professors">professors</a>-->
  </body>
</html>
