<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lezioni Expert</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/homePage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/" class="logo">
          <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
        </a>
        <i class="bx bx-menu toggle-menu-btn" id="menu-icon"></i>

        <ul class="navbar">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/subjects">Materie</a></li>
          <li><a class="link" href="/professors">Professori</a></li>
          <li><a class="link" href="/announcements">Annunci</a></li>
          <a class="link" th:if="${userDetails}" href="/logout">
            <i class="bx bxs-log-out header-icon"></i>
          </a>
          <a class="link" th:unless="${userDetails}" href="/login">
            <i class="bx bxs-log-in header-icon"></i>
          </a>

          <a href="/profilePage">
            <li th:if="${professor}" class="profile-image">
              <img
                th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
                alt="immagine del professore"
              />
            </li>
          </a>
          <div th:if="${userDetails}">
            <a href="/profilePage">
              <li th:unless="${professor}" class="profile-image-user">
                <img
                  src="/images/userProfile.png"
                  alt="immagine del professore"
                />
              </li>
            </a>
          </div>
        </ul>
      </div>
      <ul class="navbar mobile-menu">
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/subjects">Materie</a></li>
        <li><a class="link" href="/professors">Professori</a></li>
        <li><a class="link" href="/announcements">Annunci</a></li>
        <a class="link" th:if="${userDetails}" href="/logout">
          <i class="bx bxs-log-out header-icon"></i>
        </a>
        <a class="link" th:unless="${userDetails}" href="/login">
          <i class="bx bxs-log-in header-icon"></i>
        </a>

        <a href="/profilePage">
          <li th:if="${professor}" class="profile-image">
            <img
              th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
              alt="immagine del professore"
            />
          </li>
        </a>
        <div th:if="${userDetails}">
          <a href="/profilePage">
            <li th:unless="${professor}" class="profile-image-user">
              <img
                src="/images/userProfile.png"
                alt="immagine del professore"
              />
            </li>
          </a>
        </div>
      </ul>
    </header>

    <section class="home" id="home">
      <div class="home-text">
        <h1>
          Inizia il tuo <br />cambiamento<br />
          con i nostri <br />insegnati
        </h1>
        <p>
          Scopri i migliori professori per ripetizioni personalizzate in tutte
          le materie. <br />Prenota lezioni private online o in presenza e
          migliora i tuoi risultati scolastici con l'aiuto di esperti
          qualificati.
        </p>
        <a href="/login" class="btn-bg-red-hover-reddish">Scopri di più</a>
      </div>
      <div class="home-img">
        <img
          style="width: 100%; max-width: 400px"
          src="/images/test1.png"
          alt=""
        />
      </div>
    </section>

    <section class="about" id="about">
      <div class="about-img">
        <img
          style="width: 100%; max-width: 600px"
          src="/images/prova.jpg"
          alt=""
        />
      </div>
      <div class="about-text">
        <h2>Chi Siamo</h2>
        <p>
          Benvenuti su
          <a style="text-transform: uppercase; font-weight: bolder"
            >Lezioni Expert</a
          >, la piattaforma che connette <br />studenti con i migliori tutor
          qualificati. Offriamo supporto <br />
          educativo di alta qualità per soddisfare le esigenze di ogni
          <br />studente.
        </p>
        <a href="/" class="btn">Scopri di più</a>
      </div>
    </section>
    <!--    <section class="product" id="product">-->
    <!--      <div class="heading">-->
    <!--        <h2>Come Funziona Lezioni Expert</h2>-->
    <!--      </div>-->
    <!--      <div class="step-container">-->
    <!--        <div class="box">-->
    <!--          <img-->
    <!--            style="width: 100%; max-width: 600px"-->
    <!--            src="/images/prova.jpg"-->
    <!--            alt=""-->
    <!--          />-->
    <!--          <h3>Trova il tuo insegnante</h3>-->
    <!--          <div class="content">-->
    <!--            <a href="/">Find</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="box">-->
    <!--          <img-->
    <!--            style="width: 100%; max-width: 600px"-->
    <!--            src="/images/prova.jpg"-->
    <!--            alt=""-->
    <!--          />-->
    <!--          <h3>Inizia a imparare</h3>-->
    <!--          <div class="content">-->
    <!--            <a href="/">Find</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="box">-->
    <!--          <img-->
    <!--            style="width: 100%; max-width: 600px"-->
    <!--            src="/images/prova.jpg"-->
    <!--            alt=""-->
    <!--          />-->
    <!--          <h3>Parla.Leggi.Scrivi.Ripeti</h3>-->
    <!--          <div class="content">-->
    <!--            <a href="/">Find</a>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </section>-->
  </body>

  <script src="/js/app.js"></script>
</html>
