<!DOCTYPE html>
<html>
  <head>
    <title>Student</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/professor.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header-container">
        <a href="/" class="logo">
          <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>

        <ul class="navbar">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/subjects">Materie</a></li>
          <li><a class="link" href="/professors">Professori</a></li>
          <li><a class="link" href="/announcements">Annunci</a></li>
          <a class="link" th:if="${userDetails}" href="/logout">
            <i class="bx bxs-log-out header-icon"></i>
          </a>
          <a class="link" th:unless="${userDetails}" href="/login">
            <i class="bx bxs-log-in header-icon"></i>
          </a>

          <a href="/profilePage">
            <li th:if="${currentProfessor}" class="profile-image">
              <img
                th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
                alt="immagine del professore"
              />
            </li>
          </a>
          <a href="/profilePage">
            <li th:unless="${currentProfessor}" class="profile-image-user">
              <img
                src="/images/userProfile.png"
                alt="immagine del professore"
              />
            </li>
          </a>
        </ul>
      </div>
    </header>

    <section class="dettagli-section" th:if="${professor}">
      <h2 class="dettagli-section-title">Dettagli Professore Editable</h2>
      <div class="professor-container">
        <div class="div-img-btns">
          <div class="image-container">
            <img
              class="professor-image"
              th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
              alt="immagine del professore"
            />
          </div>
          <div class="div-btns">
            <a href="" class="btn-bg-red-hover-reddish">Aggiungi recensione</a>
            <a href="" class="btn-bg-trs-hover-red">Aggiungi titolo di studi</a>
            <a href="" class="btn-bg-trs-hover-red">Rimuovi professore</a>
          </div>
        </div>

        <div class="info-container">
          <p th:text="'Nome: '+ ${professor.name}"></p>
          <p th:text="'Cognome: '+ ${professor.surname}"></p>
          <p th:text="'Età: '+ ${professor.age}"></p>
          <p th:text="'Descrizione: '+ ${professor.description}"></p>
        </div>
      </div>
    </section>
    <ul th:if="${professor.reviews!=null}" class="carousell-container">
      <li th:each="review: ${professor.reviews}">
        <div class="carousell-widget">
          <div class="carousell-widget-info">
            <h2 style="text-align: center" th:text="${review.author.name}"></h2>
            <p th:text="${review.judgement}"></p>
            <p th:text="${review.text}"></p>
            <!--				<a th:href="@{'/removeAnnouncement/'+${announcement.id}}"	class="btn-bg-trs-hover-red">Rimuovi</a>-->
          </div>
        </div>
      </li>
    </ul>
  </body>
</html>
