<!DOCTYPE html>
<html>
  <head>
    <title>Student</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/professor.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header-container">
        <a href="#" class="logo">
          <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>

        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="#about">Chi Siamo</a></li>
          <li><a href="/professors">Professori</a></li>
          <li><a href="/announcements">Annunci</a></li>
          <a th:if="${userDetails}" href="/logout">
            <i class="bx bxs-log-out header-icon"></i>
          </a>
          <a th:unless="${userDetails}" href="/login">
            <i class="bx bxs-log-in header-icon"></i>
          </a>
		  <li th:if="${currentProfessor}"class="profile-image">
  			<img th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"alt="immagine del professore" />
  		  </li>
		  <li th:unless="${currentProfessor}"class="profile-image-user">
			<img src="/images/userProfile.png"alt="immagine del professore" />
		  </li>
        </ul>
      </div>
    </header>

    <section class="dettagli-section" th:if="${professor}">
      <h2 class="dettagli-section-title">Dettagli Professore</h2>
      <div class="professor-container">
        <div class="image-container">
          <img class="professor-image"
            th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
            alt="immagine del professore"
          />
        </div>

        <div class="info-container">
          <p th:text="'Nome: '+ ${professor.name}"></p>
          <p th:text="'Cognome: '+ ${professor.surname}"></p>
          <p th:text="'Età: '+ ${professor.age}"></p>
          <p th:text="'Descrizione: '+ ${professor.description}"></p>
        </div>
      </div>
    </section>
    <!-- <div class="container">
      <div class="image">
        <img src="/images/uomo.png" />
      </div>
      <div th:if="${professor}">j
        <span th:text="'Nome: '+ ${professor.name}"></span>
        <br />
        <span th:text="'Cognome: '+ ${professor.surname}"></span>
        <br />
        <span th:text="'Età: '+${professor.age}"></span>
        <br />
        <span th:text="'Descrizione: '+${professor.description}"></span>
      </div>
    </div> -->
    <!--		<div th:unless="${artist}">Non esiste</div>-->
  </body>
</html>
