<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lezioni Expert</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/carousell.css" />
    <link rel="stylesheet" href="/css/professorProfilePage.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <a href="/" class="logo">
          <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>

        <ul class="navbar">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/subjects">Materie</a></li>
          <li><a class="link" href="/professors">Professori</a></li>
          <li><a class="link" href="/announcements">Annunci</a></li>
          <a class="link" th:if="${userDetails}" href="/logout">
            <i class="bx bxs-log-out header-icon"></i>
          </a>
          <a class="link" th:unless="${userDetails}" href="/login">
            <i class="bx bxs-log-in header-icon"></i>
          </a>

          <a href="/profilePage">
            <li th:if="${professor}" class="profile-image">
              <img
                th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
                alt="immagine del professore"
              />
            </li>
          </a>
          <div th:if="${userDetails}">
            <a href="/profilePage">
              <li th:unless="${professor}" class="profile-image-user">
                <img
                  src="/images/userProfile.png"
                  alt="immagine del professore"
                />
              </li>
            </a>
          </div>
        </ul>
      </div>
    </header>

    <section class="dettagli-section" th:if="${professor}">
      <h2 class="dettagli-section-title">Il tuo Profilo</h2>

      <div class="professor-container">
        <div class="div-img-bnts">
          <div class="image-container">
            <img
              class="professor-image"
              th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
              alt="immagine del professore"
            />
          </div>
          <div class="div-btn">
            <a href="/formNewAnnouncement" class="btn-bg-red-hover-reddish"
              >Aggiungi Annuncio</a
            >
            <a th:href="@{'/formNewEducation/'+${professor.id}}" class="btn-bg-trs-hover-red"
              >Aggiungi Titolo di studio</a
            >
<!--            <a href="" class="btn-bg-trs-hover-red">Modifica Profilo</a>-->
          </div>
        </div>

        <div class="info-container">
          <div class="div-info-border-blue">
            <p
              class=""
              style="font-size: 1.5rem"
              th:text="'Nome: '+ ${professor.name}"
            ></p>
          </div>
          <div class="div-info-border-blue">
            <p th:text="'Cognome: '+ ${professor.surname}"></p>
          </div>
          <div class="div-info-border-blue">
            <p th:text="'Email: '+ ${professor.email}"></p>
          </div>
          <div class="div-info-border-blue">
            <p th:text="'Età: '+ ${professor.age}"></p>
          </div>
          <div class="div-info-border-blue">
            <p>Descrizione:</p>
            <p th:text="${professor.description}"></p>
          </div>
          <div th:unless="${#lists.isEmpty(subjects)}" class="div-info-border-blue">
            <p>Materie:</p>
			<li th:each="subject: ${subjects}">
				<p th:text="${subject}"></p>
			</li>
            <!-- <p th:text="${professor.description}"></p> -->
<!--            <p>-->
<!--              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,-->
<!--              quisquam!-->
<!--            </p>-->
          </div>
          <div th:unless="${#lists.isEmpty(professor.educations)}"class="div-info-border-blue">
			<li th:each="education: ${professor.educations}">
				<h4 th:text="${education.nome}"></h4>
				<p th:text="'- Conseguita a: '+${education.schoolName}"></p>
				<p th:text="'- Durata: '+${education.durationInMonth}+' mesi'+	' ('+${education.startYear}+' - '+ ${education.endYear}+')'"></p>
				<p th:text="'- Voto del Conseguimento: '+${education.vote}"></p>
				<br>
				<a th:href="@{'/removeEducation/'+${professor.id}+'/'+${education.id}}"	class="btn-bg-trs-hover-red">Rimuovi</a>
			</li>
<!--            <p>Titolo di studio: Harvard, peano</p>-->
          </div>
        </div>
      </div>
    </section>

    <section
      th:unless="${#lists.isEmpty(announcements)}"
      class="announcements-section"
    >
      <h3 class="announcements-section-title">I tuoi Annunci:</h3>

      <ul th:if="${professor.announcements!=null}" class="carousell-container">
        <li th:each="announcement: ${professor.announcements}">
          <a th:href="@{'/announcement' + '/' + ${announcement.id}}">
            <div class="carousell-widget">
              <div class="carousell-widget-info">
                <h2
                  style="text-align: center"
                  th:text="${announcement.subject.name }"
                ></h2>
                <p th:text="'Location: '+${announcement.location}"></p>
                <p th:text="'HourlyRate: '+	${announcement.hourlyRate}"></p>
                <!--	                <p th:text="'Subject: '+${announcement.subjects.name }"></p>-->
                <p th:text="'email: '+${announcement.subject.level}"></p>
				<a th:href="@{'/removeAnnouncement/'+${announcement.id}}"	class="btn-bg-trs-hover-red">Rimuovi</a>
<!--				/removeAnnouncement/{idAnnouncement} -->
			 </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
