<!DOCTYPE html>
<html>

<head>
	<title>Registrazione Effettuata</title>
	<link rel="stylesheet" href="/css/global.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
<!--		<div th:unless="${user}">-->
<!--			<a href="/login">Login</a>-->
<!--		</div>-->
	</header>
	
	<a 	href="/">
		<div><img src="/images/titolo.png" width="30%" /></div>
	</a>

	<h2>Congratulazioni ti sei registrato!</h2>
	<div>
		<span>Nome: </span>
		<span th:text="${user.name}"></span>
	</div>
	<div>
		<span>Cognome: </span>
		<span th:text="${user.surname}"></span>
	</div>
	<div>
		<span>Email: </span>
		<span th:text="${user.email}"></span>
	</div>
</body>
</html>