<!DOCTYPE html>
<html>

<head>
	<title>Students</title>
	<link rel="stylesheet" href="/css/globalLezioniExpert.css"/>
	<link rel="stylesheet" href="/css/students.css" />
	
</head>

<body>
	<header class="header">
	<a href="/">
		<div class="title" ><img src="/images/titoloLezioni.png" width="30%" /></div>
	</a>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
	</header>

	<h2>Studenti</h2>
	<div th:if="${students==null || students.isEmpty()}">Non ci sono studenti nel sistema</div>
	<ul>
		<div class="container">
		<li th:each="student : ${students}">
				<div class="image"><img src="/images/uomo.png">
					<a th:href="@{'/student' + '/' + ${student.id}}"
						th:text="${student.name} + ' '+ ${student.surname}"></a>
				</div>			
		</li>
		</div>
	</ul>
</body>

</html>