<!DOCTYPE html>
<html>
	<head>
		<title>Student</title>
		<link rel="stylesheet" href="/css/global.css" />
	</head>
	<body>
		<header>
			<a 	href="/">
				<div><img src="/images/titolo.png" width="30%" /></div>
			</a>
<!--			<div th:if="${userDetails}">-->
<!--				<span th:text="${userDetails.username}"></span>-->
<!--				<a href="/logout">Logout</a>-->
<!--			</div>-->
<!--			<div th:unless="${user}">-->
<!--				<a href="/login">Login</a>-->
<!--			</div>-->
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
		</header>
		
		<h2>Dettagli Studente</h2>
		<div th:if="${student}">
			<span th:text="${student.name}+' '+${student.surname}"></span>
			<span th:text="${student.age}"></span>
			<span th:text="${student.description}"></span>
		</div>
<!--		<div th:unless="${artist}">Non esiste</div>-->

	</body>
</html>