<!DOCTYPE html>
<html>
  <head>
    <title>Announcements</title>
    <link rel="stylesheet" href="/css/globalLezioniExpert.css" />
    <link rel="stylesheet" href="/css/professors.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header-container">
        <a href="/" class="logo">
          <h1 style="color: #fe4e5c; font-size: 2rem">Lezioni Expert</h1>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>

        <ul class="navbar">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/subjects">Materie</a></li>
          <li><a class="link" href="/professors">Professori</a></li>
          <li><a class="link" href="/announcements">Annunci</a></li>
          <a class="link" th:if="${userDetails}" href="/logout">
            <i class="bx bxs-log-out header-icon"></i>
          </a>
          <a class="link" th:unless="${userDetails}" href="/login">
            <i class="bx bxs-log-in header-icon"></i>
          </a>

          <a href="/profilePage">
            <li th:if="${professor}" class="profile-image">
              <img
                th:src="@{'data:image/jpeg;base64,'+${professor.profileImage.generateBase64Image()}}"
                alt="immagine del professore"
              />
            </li>
          </a>
          <div th:if="${userDetails}">
            <a href="/profilePage">
              <li th:unless="${professor}" class="profile-image-user">
                <img
                  src="/images/userProfile.png"
                  alt="immagine del professore"
                />
              </li>
            </a>
          </div>
        </ul>
      </div>
    </header>

    <section class="first-section">
      <h2>Annunci Per Materia</h2>
      <div th:if="${subjects==null || subjects.isEmpty()}">
        Non ci sono annunci nel sistema
      </div>

      <ul class="persons-container">
        <li th:each="subject: ${subjects}">
          <a th:href="@{'/announcementsOfSubject' + '/' + ${subject}}">
            <div class="professor-widget">
              <div class="professor-widget-info">
                <h2 style="text-align: center" th:text="${subject}"></h2>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
